// This component provides a layout for account management pages. 
// It uses the AccountLayout as its base layout and renders the content within a responsive container.
@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <div class="row">
        <div class="col-md-12">
            @Body
        </div>
    </div>
</div>
